XdataFiWS/Projet/Web/Test/Test/htmlFxtopSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--
   <xs:complexType name="supertype">
  </xs:complexType>

  <xs:complexType name="Manufacturer">
    <xs:complexContent>
      <xs:extension base="supertype">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Ingredients">
    <xs:complexContent>
      <xs:extension base="supertype">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
-->
<!--
<xs:element name="table">
	<xs:complexType>
						<xs:sequence>
							<xs:element ref="tr" >
											
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string" />
												</xs:simpleContent>
											</xs:complexType>
											
							 </xs:element>
						</xs:sequence>
				</xs:complexType> 
</xs:element>
-->
<!--
<xs:element name="tr" type="trType" />

	<xs:complexType name="trType">
												<xs:choice>
													<xs:element name="td" type="xs:string"/>
													<xs:element name="member">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="tr" type="trType" minOccurs="0" maxOccurs="unbounded" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
-->
<!--
<xs:element name="tr" type="trType" />

	<xs:complexType name="trType">
												<xs:choice>
														<xs:element name="td">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="table" type="trType" minOccurs="0" maxOccurs="10" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
											
<xs:element name="table" >
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="tr" />
		</xs:sequence>
	</xs:complexType>
</xs:element>
-->
  <xs:complexType name="tableType">
    <xs:sequence>
		<xs:element name="tr" >
			<xs:complexType>
				<xs:sequence>
					<xs:element name="td" >
						<xs:complexType>
							<xs:sequence>
								<xs:element name="table">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="tr" >
												<xs:complexType>
													<xs:sequence>
														<xs:element name="td" type="xs:string" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
      
    </xs:sequence>
  </xs:complexType>


  <xs:element name="html">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="head"/>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
				<xs:element name="table" type="tableType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
 
</xs:schema>